<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">JobQuest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">            
              <li class="nav-item" *ngIf="utente">
                <a
                  class="nav-link"
                  [routerLink]="['/profile']"
                  routerLinkActive="active"
                  >Profilo</a
                >
              </li>
              <li class="nav-item" *ngIf="!utente">
                <a
                  class="nav-link"
                  [routerLink]="['/login']"
                  routerLinkActive="active"
                  >Login</a
                >
              </li>
              <li class="nav-item" *ngIf="!utente">
                <a
                  class="nav-link"
                  [routerLink]="['/register']"
                  routerLinkActive="active"
                  >Registrati</a
                >
              </li>
            </ul>
          </div>
          <div *ngIf="utente">
            <span class="me-3 text-white"
              >Ciao {{ utente.user.nome }} {{ utente.user.cognome }}</span
            >
            <button class="btn btn-danger" (click)="logout()">Logout</button>
          </div>
    </div>
  </nav>  
