.list-group {
    list-style: none;
}
.lime {
    background-color: lime;
}

.red {
    background-color: red;
}
.info {
    position: relative;
}

.newQuestContainer {
    padding: 10px 0;
    .newQuest{
        img{
            height: 35px;
            width: 35px;
        }
    }
}