<ng-container *ngIf="utente?.user?.type === 'azienda'; else standard">
  <div class="container">
    
      <div *ngFor="let item of requestList">
        <div class="card" [ngClass]="{ 'lime-background': item.colore === 'lime', 'red-background': item.colore === 'red' }">
          <h5 class="card-header">{{ item.titolo }}</h5>
          <div class="card-body">
            <p class="card-text">{{ item.desc }}</p>
            <div>
              <!-- Aggiungi qui i bottoni Accetta e Rifiuta, utilizzando [(ngClass)] per gestire i colori -->
              <button
                (click)="accetta(item)"                
                *ngIf="!item.disabilitaBottoni">
                Accetta
              </button>
              <button
                (click)="rifiuta(item)"
                *ngIf="!item.disabilitaBottoni">
                Rifiuta
              </button>
            </div>
          </div>  
        </div>
      </div>
    <button (click)="goBack()">Torna alla home</button>
  </div>
</ng-container>
<ng-template #standard>
  <form class="mt-5" [formGroup]="form" (ngSubmit)="Submit()">
    <div class="mb-3">
      <label for="title" class="form-label">Titolo:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
        required
        placeholder="Write your title:" />
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Descrizione:</label>
      <textarea
        type="text"
        class="form-control"
        id="body"
        cols="30"
        rows="10"
        formControlName="body"
        required
        placeholder="Write your post:"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
      Invia
    </button>
  </form>
  <div *ngIf="showSuccessMessage" class="success-message">
    Richiesta inviata con successo! Verrai reindirizzato alla home.
  </div>
</ng-template>