.success-message {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}
.lime-background {
  background-color: lime;
}

.red-background {
  background-color: red;
}
