
<form class="mt-5" [formGroup]="form" (ngSubmit)="Submit()">
    <div class="mb-3">
        <label for="title" class="form-label">Titolo:</label>
        <input
            type="text"
            class="form-control"
            id="title"
            formControlName="title"
            required
            placeholder="Write your title:" />
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">Descrizione:</label>
        <textarea
            type="text"
            class="form-control"
            id="body"
            cols="30"
            rows="10"
            formControlName="body"
            required
            placeholder="Write your post:"></textarea>
    </div>
    <div class="mb-3">
        <label for="data" class="form-label">Data:</label>
        <input
            type="text"
            class="form-control"
            id="data"
            formControlName="data"
            required
            placeholder="Write your data:" />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
        Invia
    </button>
</form>
<div *ngIf="showSuccessMessage" class="success-message">
    Richiesta inviata con successo! Verrai reindirizzato alla home.
</div>
